[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/neocomplcache"]
	path = .vim/bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/detectindent"]
	path = .vim/bundle/detectindent
	url = git://github.com/ciaranm/detectindent.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/vim-haml"]
	path = .vim/bundle/vim-haml
	url = git://github.com/tpope/vim-haml.git
[submodule ".vim/bundle/vim-quickrun"]
	path = .vim/bundle/vim-quickrun
	url = git://github.com/thinca/vim-quickrun.git
[submodule ".vim/bundle/vimproc"]
	path = .vim/bundle/vimproc
	url = git://github.com/Shougo/vimproc.git
